/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    width: 100%;
    background-color: #4e0a39;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #500238;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    color: #faebd7;
}

header a {
    text-decoration: none;
    color: #faebd7;
}

/*styling for nav element*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #faebd7;
}

/* navbar styles with dropdown toggle*/

nav {
    position: absolute;
    background-color: #4e0a39;
    width: 100%;
    padding: 0 1rem;
    z-index: 99;
    box-shadow: 0 2px 2px #500238;
    left: 0;
    display: none;
    top: 100%;
}

/*nav toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #faebd7;

}


section {
    background-color: blueviolet
}

footer {
    background-color: aquamarine
}


/*media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0 0.5rem;
    }
