/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Italiana:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Italiana', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    width: 100%;
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #500238;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    color: #4e0a39;
    display: inline-block;
    width: 30%;
    margin-bottom: 0px;
    font-weight:600;
}

header a {
    text-decoration: none;
    color: #4e0a39;
}

#logo-image {
    max-width: 11vw;
    block-size: auto;
    padding: 16px 16px 16px 0px;
}
 


/*styling for nav element*/

.active {
    border-bottom: 1px solid #4e0a39;
}

/* navbar styles with dropdown toggle*/

nav {
    z-index: 99;
}

/*nav toggle*/

.navbar-toggler {
    font-size: 2rem;
    color: #4e0a39;
    border: none;
}

.navbar {
    justify-content: right;
    max-width: 30%;
}

.nav-link  {
    color:#4e0a39;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #4e0a39;
    font-weight: 500;
}



section {
    background-color: #252525;
    height: 200px;
    margin-top: 96px;
}

footer {
    background-color: aquamarine;
    height: 800px;
}


/*media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0 0.5rem;
        font-weight:600;
    }

}

@media screen and (max-width: 425px) {

    #logo-image {

        padding: 0px 16px 16px 0px;
    }

}